.App {
  display: block;
}

.makingBlog{
  text-align: center;
  background-color: #000;
  height: 70px;
  color: #fff;
  padding-top: 8px;
}

.list{
  border-bottom: #000 1px solid;
  padding-left: 15px;
}

.modal{
  background-color: #eee;
  padding: 15px;
  margin-top: 10px;
}

button{
  margin: 5px;
}

input{
  margin: 5px;
}